* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ccc;
}

section {
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto 40px;
    padding: 20px;
    background: #fff;
    border: 1px solid black;
}

article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
    position: relative;
    padding: 20px;
    border: 1px dashed blue;
    text-align: center;
}

.title {
    width: 100%;
    text-align: left;
}

.box {
    flex: 1 0 auto;
    position: relative;
    width: 100%;
    padding: 40px;
    background: #eee;
    border: 1px dotted black;
}

/* ================================= */
/* ================================= */
/* ================================= */
.top {
    display: grid;
    grid-template-columns: 842fr 476fr;
    gap: 20px 40px;
}

.top-slide .box {
    aspect-ratio: 16 / 9;
}

.top-btns {
    grid-column: 1 / span 2;
    width: 100%;
}

@media all and (max-width:960px) {
    .top {
        grid-template-columns: 1fr;
    }
    .top-btns {
        grid-column: 1 / 2;
    }
}

/* ================================= */
/* ================================= */
/* ================================= */
/* [btm] */
.btm {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    gap: 20px 40px;
}

.btm-board {
    flex: 855 1 0;
}

.board {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    width: 100%;
    padding: 0;
}

.board-item {
    list-style-type: none;
    position: relative;
    width: 100%;
    padding: clamp(10px, 1.6vw, 15px) 20px;
    text-align: left;
    background: #fafafc;
    border: 1px solid #ccc;
    font-size: 14px;
}

.btm-popup {
    flex: 535 1 0;
}

.btm-popup .box {
    flex: 0 1 auto;
    aspect-ratio: 534 / 312;
}

@media all and (max-width:900px) {

    .btm-board,
    .btm-popup {
        flex: 0 1 100%;
        width: 100%;
    }

    .btm-popup {
        max-width: 535px;
        margin: 0 auto;
    }

    .btm-board .title,
    .btm-popup .title {
        text-align: center;
    }
}